<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PublishServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="PublishServiceSoap3" />
        <binding name="PublishServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PublishServiceSoap1" />
        <binding name="PublishServiceSoap4">
          <security mode="Transport" />
        </binding>
        <binding name="PublishServiceSoap5" />
        <binding name="BusinessServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BusinessServiceSoap1" />
        <binding name="PortalServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PortalServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bvdkhunghaadmin.vnpt-invoice.com.vn/PublishService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PublishServiceSoap2"
        contract="WSPublicVNPT.PublishServiceSoap" name="PublishServiceSoap1" />
      <endpoint address="https://bvbachmaitestadmin.vnpt-invoice.com.vn/publishservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="PublishServiceSoap"
        contract="VNPTBachMai.PublishServiceSoap" name="PublishServiceSoap" />
      <endpoint address="https://bvtntadmindemo.vnpt-invoice.com.vn/publishservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="PublishServiceSoap4"
        contract="VNPTNinhThuan.PublishServiceSoap" name="PublishServiceSoap2" />
      <endpoint address="https://bvtntadmindemo.vnpt-invoice.com.vn/businessservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="BusinessServiceSoap"
        contract="BusinessserviceVNPT.BusinessServiceSoap" name="BusinessServiceSoap" />
      <endpoint address="https://bvphoiphutho-tt78admindemo.vnpt-invoice.com.vn/PortalService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PortalServiceSoap"
        contract="PorttalServiceVNPT.PortalServiceSoap" name="PortalServiceSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>