<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Inventec.Common.WitAI.Wit_Ai_Access_Token" value="L35S77RR5JM6GMG35CZIU76DTVQNOTZK" />
    <add key="Inventec.Common.WitAI.TimeReplay" value="3000" />
    <add key="Inventec.Desktop.ApplicationCode" value="HIS" />
  </appSettings>
</configuration>