<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Inventec.Common.EHoaDon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

  <appSettings>

  </appSettings>
  
  <applicationSettings>
    <Inventec.Common.EHoaDon.Properties.Settings>
      <setting name="Inventec_Common_EHoaDon_WSPublicEHoaDon_WSPublicEHoaDon"
        serializeAs="String">
        <value>https://wsdemo.ehoadon.vn/WSPublicEHoaDon.asmx</value>
      </setting>
    </Inventec.Common.EHoaDon.Properties.Settings>
  </applicationSettings>
</configuration>